.App {
  text-align: center;
}

.line-through {
  text-decoration: line-through;
}

#div {
  display: flex;
  justify-content: space-around;
}

h1{
  text-decoration: underline;
}

container{
  display: flex;
}